//** jamstack

.homepage__jamstack{
  background: $body-600;
  padding: $spacer-lg * 2 0;
  margin-top: $spacer-lg;
  &--title{
    width: 100%;
    text-align: center;
  }
  &--intro{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    color: $white;
  }
  &--list{
    list-style: none;
    margin: $spacer-lg 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
    li{
      display: inline-flex;
      height: 60px;
      padding: 0 $spacer-md;
    }
    svg{
      height: 45px;
    }
  }
}


@media (--mobile), (--mobile-l) {
.homepage__jamstack{
  padding: $spacer-lg;
  margin-top: $spacer-lg;
  &--title{
    @include font-size(1.8);
  }
  &--intro{
    width: 100%;
    margin: 0;
    padding: 0 $spacer-lg;
  }
  &--list{
    list-style: none;
    margin: $spacer-lg 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
    li{
      width: 100%;
      display: block;
      height: auto;
      padding: $spacer;
      text-align: center;
    }
    svg{
      height: 45px;
    }
  }
}

}
