//** Features

.features__section{
  color: $white;
  lost-flex-container: row;
  width: 80%;
  margin: $spacer-lg auto;
  &--graphic{
    lost-column: 1/4 0 $spacer-lg;
    svg{
      width: 90%;
    }
  }
  &--body{
    lost-column: 3/4 0 $spacer-lg;
  }
  &--title{
    margin-top: 0;
  }
}

@media (--mobile), (--mobile-l) {
  .features__section{
    width: 100%;
    padding: $spacer-lg;
    margin: 0;
    &--graphic{
      text-align: center;
      margin-bottom: $spacer;
      order: 0;
      svg{
        width: 128px;
        margin: 0 auto;
      }
    }
    &--body{
      order: 1;
    }
    &--graphic, &--body{
      lost-column: 1/1 0 0;
    }
    &--title{
      @include font-size(1.8);
      margin-top: initial;
    }
  }
}
