//** Navigation

.navigation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  >.container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  &__menu{
    list-style: none;
    padding: 0;
    margin: 0;
    &--item{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacer;
      &:hover{
        svg{
          fill: $comp;
        }
      }
      svg{
        width: 40px;
        fill: $body;
      }
    }
  }
}